<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta name="description" content="Общественно-политическая газета Сельские вести сайт" />
    <meta name="keywords" content="областная газета, областная газета сайт, общественно-политическая газета" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="{{ site.url }}/assets/reset.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{ site.url }}/assets/style.css" type="text/css" media="screen"/>
</head>
<body>
    <div class="body">
        <div class="top_sh"></div>
        <div class="c_body">
            <div class="left_top_sh"></div>
            <div class="right_top_sh"></div>
            <div class="right_bottom_sh"></div>

            <div class="header">
                <a href="/"><img src="{{ site.url }}/assets/logo.jpg" alt="logo" /></a>
                <div class="main_mail">
                    <a href="mailto:smi@lezhnevo.ru">почта</a>
                </div>
                <div class="menu_borders">
                    {% include navtop.html %}
                </div>
                <div class="now">{{ now_date }}</div>
            </div>

            {{ content }}

            {% include navfut.html %}
        </div>
        <div class="bottom_sh">
            <div style="text-align: center; padding-top: 12px;"><img width="14px" src="/images/GitHub-Mark-32px.png"> <a href="https://github.com/b00bl1k/selskie-vesti/blob/master/{{ page.path }}">Edit on GitHub</a></div>
            <address>
                <span style="color: #111;">© «Сельские Вести.Ru». 2017. Использование материалов данного сайта без письменного согласия редакции – ЗАПРЕЩЕНО. </span>
                <span>Адрес редакции: 155120, Ивановская область, поселок Лежнево, улица Октябрьская, дом 32, каб. № 34</span>
                <span>Телефон редакции: 8 (49357) 2 28 49</span>
                <noindex><span>Администрация Лежневского муниципального района - <a href="http://lezhnevo.ru">www.lezhnevo.ru.</a></span></noindex>
            </address>
        </div>
    </div>
</body>
</html>
